$fontFamily: "Helvetica Neue",Helvetica,Arial,sans-serif;
$fontSize: 1em;
$fontSizeBig: 1.2em;
$controlHeight: 2.4em;
$padding: 0.8em;
$borderColor: #ccc;


/*Viewport sizes*/
$small: 25.875em; /* 414/16 */
$medium: 48em;/* 768/16 */
$large: 85.5em; /* 1368/16 */
$top: top;

/*Cart*/
$cartBorderColor: #ccc;



/*Container*/
$containerWidth: 60em;/* 1170/16 */
$containerPadding: 0.9375em;/* 15/16 */
